<footer class="sticky-footer">
    <div class="container my-auto" style="padding-top: 1%;">
        <div>
            <div class="row" style="margin-top: 1%;margin-bottom: 1%;">

                <div class="col">
                    <p class="footer-heading" routerLink='/about' (click)="toTop()">About Shop Uganda</p>
                    <ul>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                    </ul>
                </div>


                <div class="col">
                    <p class="footer-heading" routerLink='/about' (click)="toTop()">About Shop Uganda</p>
                    <ul>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                    </ul>
                </div>


                <div class="col">
                    <p class="footer-heading" routerLink='/about' (click)="toTop()">About Shop Uganda</p>
                    <ul>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Privacy Policy</span>
                        </li>
                    </ul>
                </div>

                <div class="col">
                    <p class="footer-heading" routerLink='/about' (click)="toTop()">Let Us Help You</p>
                    <ul>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Call Center</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">How to shop online</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Payment methods</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Return policy</span>
                        </li>
                        <li>
                            <span class="footer-text" routerLink='/about' (click)="toTop()">Delivery</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-1 col-sm-1 col-md-1">
                    <div class="icons" >
                        <button matTooltipPosition="right" matTooltip="Scroll to top" mat-mini-fab color="primary"><i class="fas fa-arrow-up fa-fw"></i>
                        </button>
                    </div>
                    
                    <div class="icons" >
                        <button matTooltipPosition="right" matTooltip="Email us" mat-mini-fab color="primary"><i class="fas fa-envelope fa-fw"></i>
                        </button>
                    </div>

                    <div class="icons" >
                        <button matTooltipPosition="right" matTooltip="Twitter" mat-mini-fab color="primary"><i class="fab fa-twitter fa-fw"></i>
                        </button>
                    </div>

                    <div class="icons" >
                        <button matTooltipPosition="right" matTooltip="Facebook" mat-mini-fab color="primary"><i class="fab fa-facebook-f fa-fw"></i>
                        </button>
                    </div>
                    
                </div>

                
            </div>
        </div>
        <div class="text-center my-auto copyright" style="padding-bottom: 2%;">
            <span class="footer-text" >© 2017 - {{ currentYear }} Shop</span>
        </div>
    </div>
    
</footer>

<!--href="#page-top" (click)="onActivate($event)"-->



<!-- 
<div class="social-icons" style="padding-top: 0px;padding-bottom: 1%;">
    <a href="#">
        <i class="icon ion-social-twitter" style="color: rgb(7,18,102);"></i>
    </a>
    <a href="#">
        <i class="icon ion-social-facebook" style="color: rgb(7,18,102);"></i>
    </a>
    <a href="#">
        <i class="icon ion-social-snapchat" style="color: rgb(7,18,102);"></i>
    </a>
    <a href="#">
        <i class="icon ion-social-youtube" style="color: rgb(7,18,102);"></i>
    </a>
</div> -->

