<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="main-style">Shopping Cart</h2>
            </div>
            <div class="content">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            <!-- <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                        <div class="product-specs">
                                            <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                            <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                            <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="selected">
                                                <mat-option>None</mat-option>
                                                <mat-option value=1>1</mat-option>
                                                <mat-option value=2>2</mat-option>
                                                <mat-option value=3>3</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-6 col-md-2 price">
                                        <span>{{total| currency:'UGX'}}</span>
                                    </div>
                                </div>
                            </div> -->
                            
                            
                            <!-- <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                        <div class="product-specs">
                                            <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                            <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                            <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                    <div class="col-6 col-md-2 price"><span>$120</span></div>
                                </div>
                            </div> -->


                            
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image">
                                            <img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md-5 product-info">
                                        <a class="product-name" href="#">Lorem Ipsum dolor</a>
                                        <div class="product-specs">
                                            <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                            <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                            <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity"><label class="d-none d-md-block" for="quantity">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                    <div class="col-6 col-md-2 price"><span>UGX120000</span></div>
                                </div>
                            </div>
                            <br>
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                        <div class="product-specs">
                                            <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                            <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                            <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity">
                                        <input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                    <div class="col-6 col-md-2 price"><span>UGX120000</span></div>
                                </div>
                            </div>
                            <br>
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><a class="product-name" href="#">Lorem Ipsum dolor</a>
                                        <div class="product-specs">
                                            <div><span>Display:&nbsp;</span><span class="value">5 inch</span></div>
                                            <div><span>RAM:&nbsp;</span><span class="value">4GB</span></div>
                                            <div><span>Memory:&nbsp;</span><span class="value">32GB</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 quantity"><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                    <div class="col-6 col-md-2 price"><span>UGX120000</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <!-- <div class="summary"> -->
                        <div>
                            <h3 class="main-style" >Summary</h3>
                            <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
                                <!-- Item Column -->
                                <ng-container matColumnDef="item">
                                  <!-- <th mat-header-cell *matHeaderCellDef> Item </th> -->
                                  <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                                  <td mat-footer-cell *matFooterCellDef> Total </td>
                                </ng-container>
                              
                                <!-- Cost Column -->
                                <ng-container matColumnDef="cost">
                                  <!-- <th mat-header-cell *matHeaderCellDef> Cost </th> -->
                                  <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency:'UGX'}} </td>
                                  <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'UGX'}} </td>
                                </ng-container>
                              
                                <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                            </table>
                              <br>
                            <!-- <button class="btn btn-primary btn-block btn-lg" type="button">Checkout</button> -->
                            <div class="row" >
                                <div class="col">
                                    <button style="text-align: center;" routerLink="/checkout" mat-raised-button color="primary">Preceed to checkout</button>
                                </div>

                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>