.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .example-header-image {
   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
   background-size: cover;
 }

 .example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.centralToolbar{
  align-items: center;
}

.mat-panel-description > :hover{
  color: rgb(13,33,140);
}

.toolbar-text{
  color: rgb(13,33,140);
  font-size: small;
}

.toolbar-text > :hover{
  color: black;
}

mat-label {
    color: white !important;
    font-size: 20px;
}

